{% load static %}

<div class="container-fluid p-4 bg-black">
    <div class="row">
        <div class="col-md-4 d-flex">
            <img src="{{owner.logo_photo.url}}" class="mx-auto" style="width: 200px" alt="Logo">
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1>{{owner.name}}</h1>
                <h1>{{owner.freelance}}</h1>
                <h4 class="text-white">{{owner.city}}</h4>
            </div>
            <div class="row mt-2">
                <ul class="unstyled d-flex flex-row">
                    <li class="pe-3">
                        <a href="{{owner.instagram_link}}" target="_blank"><i class="fa-brands fa-instagram fa-2x text-white"></i></a>
                    </li>
                    <li class="pe-3">
                        <a href="mailto:{{owner.mail}}" target = "_blank"><i class="fa-regular fa-envelope fa-2x text-white"></i></a>
                    </li>
                    <li class="pe-3">
                        <a href="{{owner.telephone}}" target = "_blank"><i class="fa-brands fa-whatsapp fa-2x text-white"></i></a>
                    </li>
                    <li class="pe-3">
                        <a class="btn btn-outline-light btn-sm" href="{{owner.cv.url}}" target="_blank">DOWNLOAD CV</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
