{% extends 'base.html' %}
{% load static %}

{% block title %} EXPERIENCIA {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="card-title">EDUCACION</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">River Plate Instituto (IURP)</h5>
                    <p class="card-text">Licenciatura en Educacion Fisica.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Instituto Jose Hernandez (Terciario)</h5>
                    <p class="card-text">Profesorado en Educacion Fisica.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Colegio Secundario Jose Hernandez</h5>
                    <p class="card-text">Bachiller en Humanidades y Ciencias Sociales.</p>
                </div>
                <div class="card-header">
                    <h3 class="card-title">CURSOS</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">IHP- Institute of human performance</h5>
                    <p class="card-text">Instructor en Funcional Training</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Institute of Human Performance - IHP</h5>
                    <p class="card-text">Instructor en Funcional Training</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Academia de coaches - OSDE</h5>
                    <p class="card-text">Nutrición Deportiva</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">CONMEBOL</h5>
                    <p class="card-text">Preparación física de futbol</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Escuela Argentina de Coachs - EAC</h5>
                    <p class="card-text">Instructor en Crossfit / Gimnastics y stretching</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Sistema Electrofitness "X body"</h5>
                    <p class="card-text">Instructor</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">CODERHOUSE</h5>
                    <p class="card-text">Marketing digital y contenidos</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">IDIOMAS</h5>
                    <p class="card-text">Ingles - Nivel Intermedio</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card h-100 text-center">
                <div class="card-header">
                    <h3 class="card-title">EXPERIENCIA LABORAL</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">BA CUP - Torneo Internacional de Futbol SUB-17 - GEBA</h5>
                    <p class="card-text">Me desempeñé como preparador físico para el club American Sport MG de Estados Unidos,realizando practicas, calentamientos y trabajo de capacidades físicas para la preparacion al torneo.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Total Energies - Tierra del Fuego</h5>
                    <p class="card-text">Me desempeñaba realizando tareas administrativas para favorecer la organización de las actividades deportivas del yacimiento, además brinde mis servicios como coordinador técnico.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Jefe de Area SPA y Recreación Hotel Las Hayas - Ushuaia</h5>
                    <p class="card-text">Me desempeñaba realizando tareas administrativas en el SPA: Liquidación y facturación de sueldos, control se stock, asistencias y resolución de problemáticas en el sector. Paralelamente, ejecutando actividades recreativas del hotel.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Preparador Físico y Recepcionista - Club Chacarita Jr (2017 - 2020)</h5>
                    <p class="card-text">Recepción de socios, rutinas de musculación, tareas administrativas de caja, clases fitness a socios y planes de entrenamiento a jugadores de primera del club.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Profesor e Instructor Gimnasio Well Club - Palermo (2015 - 2016)</h5>
                    <p class="card-text">Profesor de clases de funcional training.</p>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle">Profesor e Instructor en Gimnasio American Sport - Cadena de Gimnasios (2015 - 2017)</h5>
                    <p class="card-text">Profesor e instructor en musculación y clases de crossfit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</html>