{% extends 'base.html' %}
{% load static %}

{% block title %} EXPERIENCIA {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="card-title">EDUCACION</h3>
                </div>
                {% for experience in experience %}
                {% if experience.category == 'Education' %}
                <div class="card-body">
                    <h5 class="card-subtitle">{{experience.title}}</h5>
                    <p class="card-text">{{experience.description | safe}}</p>
                    <h6 class="card-subtitle">{{experience.start_date | date:"Y"}} -
                        {% if experience.end_date %}
                            {{experience.end_date | date:"Y"}}
                        {% else %}
                        En la actualidad
                        {% endif %}
                    </h6>
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-header">
                    <h3 class="card-title">CURSOS</h3>
                </div>
                {% for experience in experience %}
                {% if experience.category == 'Course' %}
                <div class="card-body">
                    <h5 class="card-subtitle">{{experience.title}}</h5>
                    <p class="card-text">{{experience.description | safe}}</p>
                    <h6 class="card-subtitle">{{experience.start_date | date:"Y"}} -
                        {% if experience.end_date %}
                            {{experience.end_date | date:"Y"}}
                        {% else %}
                        En la actualidad
                        {% endif %}
                    </h6>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card h-100 text-center">
                <div class="card-header">
                    <h3 class="card-title">EXPERIENCIA LABORAL</h3>
                </div>
                {% for experience in experience %}
                {% if experience.category == 'Experience' %}
                <div class="card-body">
                    <h5 class="card-subtitle">{{experience.title}}</h5>
                    <p class="card-text">{{experience.description | safe}}</p>
                    <h6 class="card-subtitle">{{experience.start_date | date:"Y"}} -
                        {% if experience.end_date %}
                            {{experience.end_date | date:"Y"}}
                        {% else %}
                        En la actualidad
                        {% endif %}
                    </h6>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

</html>