{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucas Consiglio | Personal Trainer</title>
    <!-- Icono Pagina-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/perfil/favicon.ico' %}">
    <!-- Bootstrap - CSS - GoogleFonts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/d6cb9562bc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    {% include 'includes/navbar.html' %}

    {% block content %}

    <div class="container-fluid p-4">
        <div class="row">
            <!-- FOTO DE PERFIL -->
            <div class="col-md-4">
                <img src="{{owner.main_photo.url}}" class="img-fluid" alt="Foto de Perfil">
            </div>
            <div class="col-md-8 my-auto">
                <!-- DESCRIPCION -->
                <div class="row ps-4">
                    <h1>{{owner.name}}</h1>
                    <h1>{{owner.freelance}}</h1>
                    <h4 class="text-white">{{owner.city}}</h4>
                    <h2 class="text-white">{{owner.descript | safe}}</h2>
                </div>
                <!-- REDES -->
                <div class="row pt-4">
                    <div class="my-auto d-flex justify-content-around">
                        <a href="{{owner.instagram_link}}" target="_blank">
                            <i class="fa-brands fa-instagram fa-2x text-white"></i>
                        </a>
                        <a href="mailto:{{owner.mail}}" target="_blank">
                            <i class="fa-regular fa-envelope fa-2x text-white"></i>
                        </a>
                        <a href="{{owner.telephone}}" target="_blank">
                            <i class="fa-brands fa-whatsapp fa-2x text-white"></i>
                        </a>
                        <a class="btn btn-outline-light btn-sm" href="{{owner.cv.url}}" target="_blank">DOWNLOAD CV</a>
                    </div>
                </div>
                <!-- SERVICIOS -->
                <div class="container-fluid">
                    <div class="row p-4">
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <div class="card h-100 p-4 text-center btn btn-outline-light btn-sm ">
                                <a href="servicios/">
                                    <h5>CONOCE LOS SERVICIOS ONLINE QUE BRINDO.</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <div class="card h-100 p-4 text-center btn btn-outline-light btn-sm ">
                                <a href="experience/">
                                    <h5>CONOCE MIS ESTUDIOS Y TRABAJOS.</h5>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3 mb-sm-0">
                            <div class="card h-100 p-4 text-center btn btn-outline-light btn-sm ">
                                <a href="contacto/">
                                    <h5>CONOCE MIS REDES Y CONTACTAME.</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% endblock %}

    {% include 'includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>